# Pandas介绍
+ 数据处理的工具
>panel + data + analysis
>
>panal：面板 —— 计量经济学 三维数据
+ 为什么使用Pandas
>+ 便捷的数据处理的能力
>+ 读取文件方便
>+ 封装了Matplotlib、Numpy的画图和计算

## DataFrame

In [1]:
import numpy as np
# 创建一个符合正态分布的10个股票5天的涨跌幅数据
stock_change = np.random.normal(0, 1, (10, 5))

In [2]:
stock_change

array([[ 1.09629157,  1.10763676, -0.98500869, -1.5006537 ,  0.55881131],
       [-1.29885423, -0.88070749,  0.1554621 , -0.32476641, -1.47946062],
       [ 0.36339988,  1.77840269,  0.84879836, -0.77582565, -1.29749879],
       [ 1.0330722 ,  0.3435801 , -1.48445542,  1.05049011, -0.57474345],
       [ 0.188679  ,  0.93678173,  0.85923003, -0.57215226,  0.64560324],
       [-2.00007057,  1.56425644, -0.03964991, -0.49410639,  0.51567985],
       [ 0.74669866, -0.25048137, -2.01800242, -0.92892566,  0.85287794],
       [ 1.27339923,  1.77244245, -1.30750427,  1.6888909 ,  0.41701808],
       [-0.2767939 , -0.28539394,  2.23238892,  1.03679272, -0.07230797],
       [ 0.00309757,  1.66384956,  0.25799826,  2.24711981,  0.52112342]])

In [3]:
import pandas as pd

In [4]:
pd.DataFrame(stock_change)

          0         1         2         3         4
0  1.096292  1.107637 -0.985009 -1.500654  0.558811
1 -1.298854 -0.880707  0.155462 -0.324766 -1.479461
2  0.363400  1.778403  0.848798 -0.775826 -1.297499
3  1.033072  0.343580 -1.484455  1.050490 -0.574743
4  0.188679  0.936782  0.859230 -0.572152  0.645603
5 -2.000071  1.564256 -0.039650 -0.494106  0.515680
6  0.746699 -0.250481 -2.018002 -0.928926  0.852878
7  1.273399  1.772442 -1.307504  1.688891  0.417018
8 -0.276794 -0.285394  2.232389  1.036793 -0.072308
9  0.003098  1.663850  0.257998  2.247120  0.521123

In [5]:
# 添加行索引：index
stock = ["股票{}".format(i) for i in range(10)]
pd.DataFrame(stock_change, index=stock)

            0         1         2         3         4
股票0  1.096292  1.107637 -0.985009 -1.500654  0.558811
股票1 -1.298854 -0.880707  0.155462 -0.324766 -1.479461
股票2  0.363400  1.778403  0.848798 -0.775826 -1.297499
股票3  1.033072  0.343580 -1.484455  1.050490 -0.574743
股票4  0.188679  0.936782  0.859230 -0.572152  0.645603
股票5 -2.000071  1.564256 -0.039650 -0.494106  0.515680
股票6  0.746699 -0.250481 -2.018002 -0.928926  0.852878
股票7  1.273399  1.772442 -1.307504  1.688891  0.417018
股票8 -0.276794 -0.285394  2.232389  1.036793 -0.072308
股票9  0.003098  1.663850  0.257998  2.247120  0.521123

In [6]:
# 添加列索引：colume
# 可以使用end=""表示结束时间
# freq="B" —— 表示工作日频率
date = pd.date_range(start="20180101", periods=5, freq="B")

In [7]:
date

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05'],
              dtype='datetime64[ns]', freq='B')

In [8]:
data = pd.DataFrame(stock_change, index=stock, columns=date)

In [9]:
data

     2018-01-01  2018-01-02  2018-01-03  2018-01-04  2018-01-05
股票0    1.096292    1.107637   -0.985009   -1.500654    0.558811
股票1   -1.298854   -0.880707    0.155462   -0.324766   -1.479461
股票2    0.363400    1.778403    0.848798   -0.775826   -1.297499
股票3    1.033072    0.343580   -1.484455    1.050490   -0.574743
股票4    0.188679    0.936782    0.859230   -0.572152    0.645603
股票5   -2.000071    1.564256   -0.039650   -0.494106    0.515680
股票6    0.746699   -0.250481   -2.018002   -0.928926    0.852878
股票7    1.273399    1.772442   -1.307504    1.688891    0.417018
股票8   -0.276794   -0.285394    2.232389    1.036793   -0.072308
股票9    0.003098    1.663850    0.257998    2.247120    0.521123

In [12]:
# 已经对行数加了一行了！！！！
data.shape

(10, 5)

### DataFrame的属性

In [13]:
data.shape

(10, 5)

In [14]:
data.index

Index(['股票0', '股票1', '股票2', '股票3', '股票4', '股票5', '股票6', '股票7', '股票8', '股票9'], dtype='object')

In [15]:
data.columns

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05'],
              dtype='datetime64[ns]', freq='B')

In [16]:
data.values

array([[ 1.09629157,  1.10763676, -0.98500869, -1.5006537 ,  0.55881131],
       [-1.29885423, -0.88070749,  0.1554621 , -0.32476641, -1.47946062],
       [ 0.36339988,  1.77840269,  0.84879836, -0.77582565, -1.29749879],
       [ 1.0330722 ,  0.3435801 , -1.48445542,  1.05049011, -0.57474345],
       [ 0.188679  ,  0.93678173,  0.85923003, -0.57215226,  0.64560324],
       [-2.00007057,  1.56425644, -0.03964991, -0.49410639,  0.51567985],
       [ 0.74669866, -0.25048137, -2.01800242, -0.92892566,  0.85287794],
       [ 1.27339923,  1.77244245, -1.30750427,  1.6888909 ,  0.41701808],
       [-0.2767939 , -0.28539394,  2.23238892,  1.03679272, -0.07230797],
       [ 0.00309757,  1.66384956,  0.25799826,  2.24711981,  0.52112342]])

In [17]:
data.T

,股票0,股票1,股票2,股票3,股票4,股票5,股票6,股票7,股票8,股票9
2018-01-01,1.096292,-1.298854,0.363400,1.033072,0.188679,-2.000071,0.746699,1.273399,-0.276794,0.003098
2018-01-02,1.107637,-0.880707,1.778403,0.343580,0.936782,1.564256,-0.250481,1.772442,-0.285394,1.663850
2018-01-03,-0.985009,0.155462,0.848798,-1.484455,0.859230,-0.039650,-2.018002,-1.307504,2.232389,0.257998
2018-01-04,-1.500654,-0.324766,-0.775826,1.050490,-0.572152,-0.494106,-0.928926,1.688891,1.036793,2.247120
2018-01-05,0.558811,-1.479461,-1.297499,-0.574743,0.645603,0.515680,0.852878,0.417018,-0.072308,0.521123

In [18]:
# 最上面的几行进行截取，默认是截取5行
data.head(3)

     2018-01-01  2018-01-02  2018-01-03  2018-01-04  2018-01-05
股票0    1.096292    1.107637   -0.985009   -1.500654    0.558811
股票1   -1.298854   -0.880707    0.155462   -0.324766   -1.479461
股票2    0.363400    1.778403    0.848798   -0.775826   -1.297499

In [19]:
# 最下面的几行进行截取，默认是截取5行
data.tail(2)

     2018-01-01  2018-01-02  2018-01-03  2018-01-04  2018-01-05
股票8   -0.276794   -0.285394    2.232389    1.036793   -0.072308
股票9    0.003098    1.663850    0.257998    2.247120    0.521123

### DataFrame索引的设置

#### 修改行列索引值

In [20]:
# data.index[2] = "股票88" 不能单独修改索引

In [21]:
stock_ = ["股票_{}".format(i) for i in range(10)]
data.index = stock_
data

      2018-01-01  2018-01-02  2018-01-03  2018-01-04  2018-01-05
股票_0    1.096292    1.107637   -0.985009   -1.500654    0.558811
股票_1   -1.298854   -0.880707    0.155462   -0.324766   -1.479461
股票_2    0.363400    1.778403    0.848798   -0.775826   -1.297499
股票_3    1.033072    0.343580   -1.484455    1.050490   -0.574743
股票_4    0.188679    0.936782    0.859230   -0.572152    0.645603
股票_5   -2.000071    1.564256   -0.039650   -0.494106    0.515680
股票_6    0.746699   -0.250481   -2.018002   -0.928926    0.852878
股票_7    1.273399    1.772442   -1.307504    1.688891    0.417018
股票_8   -0.276794   -0.285394    2.232389    1.036793   -0.072308
股票_9    0.003098    1.663850    0.257998    2.247120    0.521123

#### 重设索引

In [22]:
data.reset_index()

,index,2018-01-01 00:00:00,2018-01-02 00:00:00,2018-01-03 00:00:00,2018-01-04 00:00:00,2018-01-05 00:00:00
0,股票_0,1.096292,1.107637,-0.985009,-1.500654,0.558811
1,股票_1,-1.298854,-0.880707,0.155462,-0.324766,-1.479461
2,股票_2,0.363400,1.778403,0.848798,-0.775826,-1.297499
3,股票_3,1.033072,0.343580,-1.484455,1.050490,-0.574743
4,股票_4,0.188679,0.936782,0.859230,-0.572152,0.645603
5,股票_5,-2.000071,1.564256,-0.039650,-0.494106,0.515680
6,股票_6,0.746699,-0.250481,-2.018002,-0.928926,0.852878
7,股票_7,1.273399,1.772442,-1.307504,1.688891,0.417018
8,股票_8,-0.276794,-0.285394,2.232389,1.036793,-0.072308
9,股票_9,0.003098,1.663850,0.257998,2.247120,0.521123

In [25]:
# 重设会加一列，也就是最左边的那一列数据！！！！
data.reset_index().shape

(10, 6)

#### 设置新索引

In [27]:
df = pd.DataFrame({'month': [1, 4, 7, 10],
                    'year': [2012, 2014, 2013, 2014],
                    'sale':[55, 40, 84, 31]})

In [28]:
df

   month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

In [31]:
# 以月份设置新的索引
# drop：删除最开始的索引，默认就是True
df.set_index("month", drop=True)

       year  sale
month
1      2012    55
4      2014    40
7      2013    84
10     2014    31

In [35]:
# 设置多个索引，以年和月份
new_df = df.set_index(["year", "month"])

In [38]:
new_df

            sale
year month
2012 1        55
2014 4        40
2013 7        84
2014 10       31

In [39]:
new_df.index

MultiIndex([(2012,  1),
            (2014,  4),
            (2013,  7),
            (2014, 10)],
           names=['year', 'month'])

In [40]:
new_df.index.names

FrozenList(['year', 'month'])

In [41]:
new_df.index.levels

FrozenList([[2012, 2013, 2014], [1, 4, 7, 10]])

In [42]:
# 这种设置，可以让DataFrame就变成一个具有MultiIndex的DataFrame

## MultiIndex和Panel

### MultiIndex

In [44]:
new_df.index

MultiIndex([(2012,  1),
            (2014,  4),
            (2013,  7),
            (2014, 10)],
           names=['year', 'month'])

In [45]:
new_df.index.names

FrozenList(['year', 'month'])

In [46]:
new_df.index.levels

FrozenList([[2012, 2013, 2014], [1, 4, 7, 10]])

### Panel

In [48]:
p = pd.xarray(np.arange(24).reshape(4,3,2),
                 items=list('ABCD'),
                 major_axis=pd.date_range('20130101', periods=3),
                 minor_axis=['first', 'second'])
p

AttributeError: module 'pandas' has no attribute 'xarray'

## Series